<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="shortcut icon" type="image/x-icon" href="https://img.icons8.com/ios-glyphs/30/000000/chat.png">

    <link rel="stylesheet" href="/static/style.css">

    <!-- <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet"> -->
    
    <title>Web-Chat</title>
</head>
<body>

    <div id="login" class="hidden1">
        <p id="alert" class="hidden">Alerta!</p>
        <div class="center">
          <input id="nick" type="text" placeholder="Seu Apelido:">
          <button id="entry" >Entrar</button>
        </div>
    </div>
      
    <div id="chat" class="hidden">
        <div class="container"> <!-- Caixa de mensagens -->
            <div class="bubble"> <!-- Mensagem -->
            <p class="data">Pessoa 11:15</p> <!-- Titulo de mensagem (opcional) -->
            <p>Hey how's it going?</p>  <!-- Texto da mensagem -->
            </div>
            <div class="central"> <!-- Alerta de entrada ou saída -->
            <p>Pessoa Entrou na sala!</p>
            </div>
            <div class="bubble bubble-alt green">
            <p>Just sending out random SMS to people</p>
            </div>
            <div class="bubble">
            <p class="data">Pessoa 11:17</p>
            <p>Cool, cool.</p>
            </div>
            <div class="bubble">
            <p class="data">Pessoa 11:17</p>
            <p>Sometimes I do that too. Like right now.</p>
            </div>
            <div class="bubble bubble-alt green">
            <p>Just sending out random SMS to people</p>
            </div>
            <div class="bubble">
            <p class="data">Pessoa 11:17</p>
            <p>Cool, cool.</p>
            </div>
            <div class="bubble">
            <p class="data">Pessoa 11:17</p>
            <p>Sometimes I do that too. Like right now.</p>
            </div>
            <div class="bubble bubble-alt green">
            <p>Just sending out random SMS to people</p>
            </div>
            <div class="bubble">
            <p class="data">Pessoa 11:17</p>
            <p>Cool, cool.</p>
            </div>
            <div class="bubble">
            <p class="data">Pessoa 11:17</p>
            <p>Sometimes I do that too. Like right now.</p>
            </div>
            <div class="bubble bubble-alt green">
            <p>Just sending out random SMS to people</p>
            </div>
            <div class="bubble">
            <p class="data">Pessoa 11:17</p>
            <p>oi</p>
            </div>
            <div class="bubble">
            <p class="data">Pessoa 11:17</p>
            <p>Sometimes I do that too. Like right now.</p>
            </div>
        </div>
        
        <div class="inputs">
            <input id="msg" type="text" placeholder="Sua mensagem:">
            <button id="send" >Enviar</button>
        </div>
    </div>
    
      
    <!-- <link href="{{ url_for('static', path='/script.js') }}" rel="javascript"> -->
    
    <script src="/static/script.js"></script>
</body>
</html>